<br>
<br>
<br>
<div id="mainHeadCat">
    <h1>Welcome to the Tool Categories</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur excepturi architecto nobis ex beatae quo sequi.</p>
</div>
<div id="cats">
    <div>
        <h3>Power Tools</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
        <div>
            <img src="https://lda.lowes.com/is/image/Lowes/content-panel-desktop?src=Lowes/DP17-30869_060617_PowerToolsDT_4col_ComboKits" width="200" height="150" alt="">
        </div>
    </div>
    <div>
        <h3>Hand Tools</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
        <div>
            <img src="https://industrialsupplymagazine.com/wysiwyg/images/Print_edition/MayJune_2013/Klein_ElectricianHandTools.jpg" width="200" height="150" alt="">
        </div>
    </div>
    <div>
        <h3>Trailers</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
        <div>
            <img src="http://cdnmedia.endeavorsuite.com/images/organizations/df853dd6-06a7-4e1f-9cf4-41fad3e8b993/inventory/2237759/meshbottomLandscape.jpg" width="200" height="150" alt="">
        </div>
    </div>
    <div>
        <h3>Generators</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
        <div>
            <img src="https://images.homedepot-static.com/productImages/b9025dc3-8745-46e3-a9b4-4c431bbc7c49/svn/power-pro-technology-portable-generators-56101-64_1000.jpg" width="200" height="150" alt="">
        </div>
    </div>
</div>