<div id="title">
 <h1>NeighborlyTools</h1>
 <p>Welcome to NeighborlyTools</p>
 <p>The place that helps tools be useful today!</p>
</div>
<div id="box">
    <div class="inBox">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Search_Noun_project_15028.svg/1046px-Search_Noun_project_15028.svg.png" class="search" alt="">
        <h2>Find Tools</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, distinctio perferendis libero incidunt atque sunt ea?</p>
        <button><a href="/tool">Find Tools</a></button>
    </div>
    <div>
        <h2 id="or">OR</h2>
    </div>
    <div class="inBox">
        <img src="http://www.printable-alphabets.com/wp-content/uploads/2012/12/print-dollar-sign-large.png" alt="" class="search">
        <h2>Rent Tools Out</h2>
        <hr>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem, temporibus possimus? Vitae saepe adipisci dolorem aliquam.</p>
        <button><a href="auth/login">Register Now</a></button>
    </div>
</div>
<div id="money">
    <div>
        <h3> Make use of tools just lying around, or earn extra cash because you own them.</h3>
        <p>We believe that if a tool is useful, it should be getting used.</p>
    </div>
</div>